.custom-navbar.d-flex.justify-content-between
  = link_to root_path, class: "h-100" do
    = render 'shared/site_logo'
  .d-flex.align-items-center.login-container
    - if user_signed_in?
      = link_to "Log out", destroy_user_session_path, method: :delete
    - else
      = link_to "Login", new_user_session_path
